@import url('https://fonts.googleapis.com/css2?family=Eating+Pasta&display=swap'); /* Ajouter la police Eating Pasta */

body {
    font-family: 'Eating Pasta', cursive;
    background-color: #f9f4e4; /* Beige pastel pour le fond */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: #f1c40f; /* Jaune pastel pour les titres */
    text-align: center;
    background-color: #ffffff; /* Fond blanc pour les titres */
    border: 3px solid #f1c40f; /* Bordure jaune pastel autour des titres */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section {
    border: 3px solid #f1c40f; /* Bordure jaune pastel autour de chaque section */
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff; /* Fond blanc pour les sections */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
}

li::before {
    content: "• ";
    color: #f1c40f; /* Jaune pastel pour les puces */
}

section h3 {
    font-size: 1.6rem;
    color: #f1c40f;
    border-bottom: 2px solid #f1c40f; /* Bordure ondulée sous chaque sous-titre */
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: left;
}

section h2 {
    font-size: 2rem;
    color: #f1c40f;
    border-bottom: 2px solid #f1c40f; /* Bordure ondulée sous chaque section */
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
}

section p {
    font-size: 1rem;
    color: #333;
    line-height: 1.8;
}

